body, html { height: 100%; width: 100%; }
h2 { margin-top: 0.5em;}
body {
	background: #f5f5f5;
	color: #333;
	font-family: 'Times new roman', serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

input {
	width: 450px;
	line-height: 1.5em;
	padding: 2px;
}

button {
	margin-left: 1em;
}

.altered { border: 2px solid #ff9900 !important;}

.sync {
	font-family: inherit;
	font-size: 1em;
	width: 545px;
	border: 2px solid #ccc;
	padding: 8px;
	margin-bottom:20px;
}

#container {
	width: 1200px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
}

#heading {
	background: inherit;
	width: 96%;
	padding: 2%;
	border-bottom: 1px dashed #aaa;
}

#message { margin-left: 1em; }

#edit {
	width: 48%;
	padding: 1%;
	float: left;
	background-color: #eee;
}

#preview {
	font-family: Arial, sans-serif;
	width: 48%;
	padding: 1%;
	float: right;
	max-height:580px;
	overflow: auto;
}

#preview-teaser {
	padding: 1em;
	background: #f5f5f5;
}

#preview-teaser:before, #preview-teaser:after {
	content: '"';
}

#metadata {
	clear: both;
	width: 98%;
	padding: 1%;
	border-top: 1px dashed #aaa;
}

#metadata table {
	width: 100%;
	font-family: Arial;
	font-size: 12px;
}

thead { font-weight: bold;}
th  { border: 1px solid #aaa; background: #eee;}
tr:nth-child(even) { background: #eee; }
